#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
    width: 100vw;
    background-color: #04A5F4;
}

#Contact p {
    font-size: 20px;
    color: white;
}
.Socials{
   display: flex;
    gap: 20px;
    align-items: center;
  
}

@media all and (max-width:500px){

    #Contact {
        display: flex;
        flex-direction: column;
    }
    #Contact p {
        font-size: 18px
    }
}