*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 400ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) *3 + var(--hamburger-gap) * 2);
    --animation-width:

}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    margin: 10px 30px 10px 10px;
    



}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: #F8FBF8;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-width), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);

}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.IsChecked::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.IsChecked::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);

}


.removed {
    opacity: 0;
    width: 0;

}



.sidebar {
    translate: -100%;
    transition: 0.5s ease-in-out;
    margin-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--background);
    height: 100vh;
}

.sidebar a:hover {
    background-color: #4EDDE1;
    color: white;
}

.XBox {
    translate: 0%;
}

header div {
    cursor: pointer;

}

header {
    display: flex;
    justify-content: end;
    background-color: #030D25;
    position: fixed;

}

.Checked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 30%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    perspective: 600px;



}

a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;

}

#links a {
    width: 100px;
    text-align: center;
}




@media all and (max-width:900px) {
    .Checked {
        width: 0;
    }

    header {
        display: none;
        justify-content: start;
        margin-left: 50px;
    }

    #links {
        flex-direction: row;
        height: 50px;
        width: 100vw;
    }







}