
:root {
    --p-size:20px;
    --h1-size:4vw;

}


.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.HomeLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.HomeLayout h1 {
    font-size: var(--h1-size);
}

.HomeLayout p {
    font-size: var(--p-size);
    width: 400px;
}

.Socials img {
    width: 50px;

}

.Skills img {
    width: 50px;
}

.programmerImg img {
    width: 500px;


}

@media all and (max-width:900px){
    :root{
    --p-size:20px;
    --h1-size: 6vw
    }
    .HomeLayout p {
        width: 250px;
    }


}