.aboutMe{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #737783;
    gap: 10px;
    margin-top: 30px;
}
.Skills {
    width: 50px;

}
.Greeting p{
    width: 80vw;
    font-size: 1.4rem;
    text-indent: 20px;
    margin-bottom: 20px;
}

@media all and (max-width:900px){
    .Greeting{
        width: 100%;
        font-size: 3vw;
        
    }

    .Greeting p{
        margin: 0;
    }
    .Greeting {
        font-size: 14px;
    }

    .Skills {
            display: flex;
    }
}