
.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(5vw);
    transition: all 1s ease-in-out;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);


}

.AnimatedElements {
   min-height: 100vh;

}