#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 10px;
    gap: 20px;
    background-color: #04A5F4;
    
}

#Contact p {
    font-size: 20px;
    color: white;
}
.Socials{
   display: flex;
    gap: 20px;
    align-items: center;
  
}
.icones{
    width:140px;
}
.icones:hover {
    color: #50DCE0;
}

@media all and (max-width:1200px){

    #Contact {
        display: flex;
        flex-direction: column;
    }
    #Contact p {
        width: 80vw;
        text-align: center;
        margin-top: 10px;
    }
}