.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.HomeLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 80vw;
  margin-top: 50px;
  margin-bottom: 50px;

  /* overflow-x: hidden; */
}

.HomeLayout h1 {
  font-family: "Oswald", sans-serif;

  font-size: 3rem;
}
.HomeLayout p {
  font-size: 2rem;
  color: #737783;
  font-family: "Oswald", sans-serif;
}
.MfotoDIV {
  position: relative;
}
#MinhaFoto {
  width: 400px;
  height: 400px;
  border-radius: 10%;
  border-radius: 50%;
  position: relative;
}
.squareShape1,
.squareShape2 {
  position: absolute;
  bottom: -5px;
  width: 500px;
  height: 80px;
  background-color: rgb(25, 131, 231);

  animation: Waves;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.squareShape1::after,
.squareShape2::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 150px;
  transform: translate(-5%, -50%);
  background-color: rgb(25, 131, 231);
}
.squareShape1::after,
.squareShape2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 150px;
  transform: translate(150%, -50%);
  background-color: rgb(25, 131, 231);
}

.squareShape2 {
  bottom: 15px;
  animation-delay: 0.25s;
  background-color: blue;
}
@keyframes Waves {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.Socials img {
  width: 50px;
}
@media all and (max-width: 1200px) {
  .HomeLayout {
    font-size: 1rem;
    width: 80vw;
  }
}
