
*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-color: #0590DF; */
    /* color: #F8FBF8; */
    /* font-family: 'Source Code Pro', monospace; */
    font-family: Roboto,sans-serif;

}
h1 {
    font-family: 'Inconsolata', monospace;

}
p {
    text-indent: 10px;
  }

  a { 
    text-decoration: none;
    color: black;
  }
::-webkit-scrollbar {
    width: 8px;
    
    
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    height: 100px;
}



.MoreBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 23px;
    background-color: #1565C0;
    color: #ffffff;
}

.MoreBtns:hover {
    background-color: #2d7fdd;
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .MoreBtns:active {
    scale: 0.9;
  }